.logo{
            
    margin-top: 87px;
    display: grid;
    place-items: center;
}
.se{
    width: 582px;
    height: 44px;
    border-radius: 25px;
    border-width: 0.5px;
    border-color: rgb(185, 185, 185);
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
}
.se:hover{
    box-shadow: 2px 2px 10px rgba(22, 19, 19, 0.15);
}
.aa{
    margin-top: 25px;
    display: grid;
    place-items: center;
    opacity: border 1;

}
.a, .b{
    
    display: inline-block;
    
}
.b2{
    height: 40px;
    width: 128px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    margin-left: 8px;
    cursor: pointer;
}
.b1{
    height: 40px;
    width: 128px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    margin-left: 540px;
    margin-top: 25px;
    cursor: pointer;
}
.text{
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
}
.b1:hover, .b2:hover{
    box-shadow: 2px 2px 7px rgba(22, 19, 19, 0.15);
    border: solid;
    border-width: 1px;
    border-color: rgb(212, 210, 210);
}